/* Container styling for the events */
.events-container {
    width: 87%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}

/* Styling for the title */
.events-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* Styling for the event columns */
.events-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

/* Styling for individual events */
.event {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    width: calc(25% - 20px); /* 4 columns layout */
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s;
}

.event img {
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.event h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.event p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.event i {
    margin-right: 5px;
}

.event:hover {
    transform: scale(1.05);
}
