header {
    background-color: #000;
    color: #fff;
    padding: 5px 0;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1000;
    overflow-y: auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
}

.icon-link {
    text-decoration: none;
    color: inherit; 
    margin-left: 12px;
}

.icon {
    display: flex;
    align-items: center;
    font-size: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.logo-icon {
    height: 30px;
    width: auto;
    margin-right: 0px;
}

.icon span {
    display: inline-block;
    vertical-align: middle;
    margin-left: -1;
    font-size: 23px;
    font-weight: bold;
}

/* Navigation styling */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin: 0;
}

nav li {
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}

nav ul li {
    position: relative;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column; 
    }

    nav li {
        text-align: left; 
    }
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    display: block;
}

nav a:hover, nav a:focus, nav a.active {
    color: #be8181;
    outline: none;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #be8181;
    transition: width 0.3s;
}

nav a:hover::after, nav a:focus::after, nav a.active::after {
    width: 100%;
}

.search-form input[type="search"] {
    border: none;
    background-color: transparent;
    color: white;
    padding-left: 10px;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.search-form button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 10px;
    font-size: 16px;
}

.search-form button i {
    font-size: 20px;
}

.search-form button:hover {
    color: #be8181;
}

/* Styling for the search form cancel (X) button */
.search-form input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath fill="rgb(255, 59, 59)" d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/%3E%3C/svg%3E') no-repeat center center;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

/* Search form styling */
.search-form {
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid gray; 
}

/* Profile section styling */

.my-profile {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.my-profile .profile-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-right: 2px; 
}

.my-profile .profile-link:hover {
    color: #be8181;
}

.my-profile button {
    background-color: #000;
    border: none;
    cursor: pointer;
    position: relative; 
}

.my-profile img.profile-icon {
    height: 30px;
    width: auto;
    border-radius: 50%;
    transition: filter 0.3s;
}

.my-profile button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 192, 203, 0.3);
    opacity: 0;
    transition: opacity 0.3s;
}

.my-profile button:hover::after {
    opacity: 1;
}

.my-profile-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.my-profile-container:hover .profile-link,
.my-profile-container:hover .profile-icon,
.my-profile-container:hover::after {
    color: #be8181;
    filter: brightness(0) saturate(100%) invert(13%) sepia(97%) saturate(3437%) hue-rotate(356deg) brightness(97%) contrast(106%); /* Red color effect on hover */
    opacity: 1;
}
